body
  font-family: sans-serif
  background-color: #000000
  color: #CCCCBB
  line-height: 1.5em

a
  text-decoration: none
  color: #0099cc
  font-weight: bold

p
  padding: 1.0em

#page
  margin: auto
  width: 600px
  background-color: #111111

#article
  text-align: justify
