#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/assets/style/*/' do
  filter :sass
end

route '/assets/style/*/' do
  item.identifier.chop + '.css' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
end

compile '*' do
  filter :erb

  case item[:extension]
    when /markdown|md/ then filter :kramdown
    when /haml/        then filter :haml
  end

  layout 'article' if item.path =~ /\/\d\d\d\d\/\d\d-\d\d\//

  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
