%link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/style/turbosh.css", "media" => "screen"}

.previous_link
  = link_to "<<<<<", "#", :class => "previous"

.next_link
  = link_to ">>>>>", "#", :class => "next"

#feature_viewer
  #feature_1.feature.shown
    %a{"href" => "/assets/images/turbosh/turbosh-ss1.png"}
      %img.right{"src" => "/assets/images/turbosh/turbosh-ss1.png", "width" => 350}

    :markdown
      ***Turbosh*** is an SSH project manager.  It's good at viewing files, editing
      them, and launching tasks on your server.

      ***Turbosh*** lets you view and edit files while offline.  It'll synchronize
      them back to the server at the next opportunity.

      Here you can see how a project is configured.

  #feature_2.feature
    %a{"href" => "/assets/images/turbosh/turbosh-ss2.png"}
      %img.left{"src" => "/assets/images/turbosh/turbosh-ss2.png", "width" => 350}

    :markdown
      ***Turbosh*** gives you a menu to select which files you'd like to
      view or edit, or which task you'd like to launch.

  #feature_3.feature
    %a{"href" => "/assets/images/turbosh/turbosh-ss3.png"}
      %img.right{"src" => "/assets/images/turbosh/turbosh-ss3.png", "width" => 350}

    :markdown
      ***Turbosh*** works in both portrait and landscape modes.

  #feature_4.feature
    %a{"href" => "/assets/images/turbosh/turbosh-ss4.png"}
      %img.left{"src" => "/assets/images/turbosh/turbosh-ss4.png", "width" => 350}

    :markdown
      ***Turbosh*** will do syntax highlighting for various programming
      languages.

      Here you can see that syntax highlighting in action.

  #feature_5.feature
    %a{"href" => "/assets/images/turbosh/turbosh-ss5.png"}
      %img.right{"src" => "/assets/images/turbosh/turbosh-ss5.png", "width" => 350}

    :markdown
      Select which executables in your project directory you'd like to
      be able to launch as tasks in ***Turbosh***.

  #feature_6.feature
    %a{"href" => "/assets/images/turbosh/turbosh-ss6.png"}
      %img.left{"src" => "/assets/images/turbosh/turbosh-ss6.png", "width" => 350}

    :markdown
      Execute those tasks with ease.  Notice that ANSI colors will be viewed
      just as you'd expect.

.previous_link
  = link_to "<<<<<", "#", :class => "previous"

.next_link
  = link_to ">>>>>", "#", :class => "next"

%script{"src" => "/assets/javascript/turbosh.js"}
